.footer {
    /* background: #0f172a; */
    background: linear-gradient(180deg, rgb(0 42 88 / 92%), #0E2238);
    /* background: linear-gradient(180deg,
            #0b2a3a 0%,
            #08313f 30%,
            #064a4e 60%,
            #03565b 100%); */
    color: #cbd5e1;
    /* padding: 70px 0 20px; */
    /* font-family: sans-serif; */
    /* border-top: 1px solid #fff; */
    box-shadow: 0 -4px 10px rgba(255, 255, 255, 0.2);
}

.footer-logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer h5 {
    color: #fff;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: bold;
}

.footer p {
    font-size: 14px;
    line-height: 1.7;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer ul li:hover {
    color: #38bdf8;
    padding-left: 5px;
}

.footer i {
    margin-right: 8px;
}

/* Social Icons */

.footer-social {
    margin-top: 15px;
}

.footer-social i {
    /* height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #1e293b;
    border-radius: 50%; */
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.footer-social i:hover {
    /* background: #38bdf8; */
    color: #ffcc00;
}

/* Bottom */

.footer-bottom {
    border-top: 1px solid #ffffff57;;
    margin-top: 40px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
}


.footer ul {
    padding-left: 0;
    list-style: none;
}



/* Responsive */
@media(max-width:768px) {

    .footer {
        text-align: center;
    }

    .footer-social i {
        margin: 8px;
    }

}


/* LogoImage */
.footer-logo-img {
    width: 170px;
    height: auto;
    margin-bottom: 15px;
    object-fit: contain;
    transform: scale(2.5);
    margin-left: 65px;
    filter: drop-shadow(0px 0px 20px #fff);
}

/* Mobile Responsive */

@media(max-width:768px) {

    .footer-logo-img {
        width: 150px;
        margin: auto;
        display: block;
        margin-bottom: 15px;
    }

}